

.selfie{
    height: 300px;
    width: 300px;
    box-shadow: 0px 20px 8px -6px rgba(0,0,0,.5);
    z-index: 50;
  }

.navbar{
    box-shadow: 0px 15px 8px -6px rgba(0,0,0,.5);
    }

.Heroname h1{
      font-family: 'Courgette', cursive;
      font-stretch: expanded;
    }

.menutext{
  font-family: 'roboto';
}
/* Original stuff */















/* .jumbotron1{
    background-image: url(https://images.unsplash.com/photo-1472806679307-eab7abd1eb32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-image: 100%;
    background-size:cover;
} */

.jumbotron2{
    background-image: url(/img/fdklja.jpg);
    
}

.img{
  opacity: .5;
}

.jumbotron{
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  background-color: rgba(0, 0, 0, 0.5);
}

.video-background{
  position: relative;
  width:100%;
  /* min-height: 100vh; */
  background-color: rgb(0, 0, 0);
  background-size:cover;
}
#bgvid{
  position: relative;
  width:100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2);
  background-size:cover;
}


.caption{
  position: absolute;
  top: 38%;
  width: 100%;
  color: white;
}

.caption h1{
  font-size: 8rem;
  font-weight: 10;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  font-family: lobster;

}

.caption h3{
  font-size: 3rem;
  text-shadow: .1rem .1rem .3rem black;
  padding-bottom: 1.6rem;
}














/* FOOTER */
.footer-distributed{
	background: #212529;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;

  height: 6vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.container-fluid{
  padding-right: 0;
  padding-left: 0;

}
  
 
  
  

  .row {
        --bs-gutter-x: 0;
        margin: 0%;
  }
  .con2{
 
    padding: 0;
  }
  .vid-col{
    margin:0;
  }

  